#mapdiv{
    width: 35vw;
    height: 10vw;
}

#mapa {
    fill:#F7F7F7;
    stroke:#636363;
    stroke-width:0.5;
}

#info {
    width: 100%;
    min-height: 180px;
    display: flex;
    flex-wrap: wrap;
}

#toprow{
    display: flex;
    flex-wrap: wrap;
}

.narat {
    max-width: 450px;
    height: auto;
    text-align: justify;
    margin: 15px;
    font-size: 14px;
}

#narat_in {
    color: #4575b4;
}

#narat_out {
    color: #d73027;
}

#tline {
    max-height: auto;
}

#narods {
    width: 25vw;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    #mapdiv {
        width: 95vw;
        height: 40vw;
        display: none;
    }
    .narat {
        width: 100%;
    }
    #narods {
        width: 100%;
    }
}